<p>
	<strong>COMMENTER:</strong>
	<%= comment.commenter %>
</p>

<p>
	<strong>TEXT:</strong>
	<%= comment.text %>
</p>

<p>
	<%= link_to 'destroy', [comment.post, comment], method: :delete, data: { confirm: 'are you sure' } %>
</p>